@font-face {
			font-family: Sanskrit Text;
			src: url(../../fonts/Sanskr.ttf);
			unicode-range: U+9900;
		}
@font-face {
			font-family: Jameel Noori Nastaleeq;
			src: url(../../fonts/Jameel Noori Nastaleeq Regular.ttf);
			unicode-range: U+600-6FF;
		}
@font-face {
			font-family: Times New Roman;
			src: url(../../fonts/times.ttf);
			unicode-range: U+0-07F;
		}
